@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap");

:root {
  --background-color: #171717;
  --white: #fff;
  --gray: #a3a3a3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white {
  color: var(--white, white);
}

.gray {
  color: var(--gray, gray);
}

.hover:hover {
  color: var(--white, white);
}

.text-center {
  text-align: center;
}

body {
  background-color: var(--background-color, black);
  color: var(--white, white);
  font-family: "Ubuntu", sans-serif;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 2vw;
}

nav > span {
  transform: scale(2);
}

#menu {
  width: 60%;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

#welcome {
  margin-bottom: 5vh;
}

h1 {
  font-size: 4rem;
  padding: 2vh 0;
}

#entries-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.entry {
  border-bottom: 0.05rem solid var(--gray, gray);
  padding: 2vh 0;
}

h2 {
  font-size: 1rem;
  padding: 1vh 0;
}

footer {
  margin: 7vh 0;
}

@media screen and (min-width: 500px) {
  #menu {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  #menu {
    width: 40%;
  }
}

@media screen and (min-width: 600px) {
  #menu {
    width: 30%;
  }
}

@media screen and (min-width: 900px) {
  .entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1000px) {
  #entries-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  #entries-container {
    width: 60%;
  }
}
